@use "./navbar.module";

.container {
    margin: 1px auto;
    width: 1110px;
    height: 710px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 50px;

    .mainNew {
        width: 100%;
        grid-column: 1/3;
        grid-row: 1/5;

        .desktopMainImage {
            width: 100%;
            height: 55%;
        }
        .movileMainImage {
            display: none;
        }

        .contentMainNew {
            display: flex;
            justify-content: space-between;
            column-gap: 30px;
            padding-top: 35px;

            .titleMainNew {
                width: 50%;
                margin: 0;
                font-weight: 800;
                font-size: 3rem;
            }

            .containerDescriptionMainNew {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .descriptonMainNew {
                    margin: 0;
                    color: navbar.$Dark-grayish-blue;
                }
                button {
                    width: 57%;
                    padding: 17px 30px;
                    border: none;
                    color: white;
                    background-color: navbar.$Soft-red;
                    letter-spacing: 5px;

                    &:hover {
                        cursor: pointer;
                        background-color: navbar.$Very-dark-blue;
                    }
                }
            }
        }
    }
    .rankingNews {
        grid-column: 1/4;
        grid-row: 5/6;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        .cardRankingNews {
            height: 127px;
            display: flex;
            div {
                margin-left: 25px;
                h2 {
                    color: navbar.$Grayish-blue;
                    font-size: 2rem;
                    margin: 0 0 15px 0;
                }
                h3 {
                    margin: 0 0 15px 0;
                    a {
                        text-decoration: none;
                        color: navbar.$Very-dark-blue;
                        &:hover {
                            color: navbar.$Soft-red;
                            cursor: pointer;
                        }
                    }
                }
                p {
                    margin: 0;
                    color: navbar.$Dark-grayish-blue;
                }
            }
        }
    }
    .moreNews {
        grid-column: 3;
        grid-row: 1 / 5;
        padding: 35px 25px 38px 25px;
        background-color: navbar.$Very-dark-blue;
        color: navbar.$Off-white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 2rem;
            margin: 0;
            color: navbar.$Soft-orange;
        }
        hr {
            width: 100%;
            height: 1px;
            background-color: navbar.$Dark-grayish-blue;
            border: none;
        }
        p{
            color: navbar.$Grayish-blue;
        }
        a{
            color: navbar.$Off-white;
            text-decoration: none;

            &:hover {
                color: navbar.$Soft-orange;
            }
        }
    }
}


@media screen and (max-width: 375px) {
        .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .mainNew {
            display: flex;
            flex-direction: column;
            .desktopMainImage {
                display: none;
            }
            .movileMainImage {
                display: block;
                margin: 0 15px;
            }
            .contentMainNew {
                display: flex;
                flex-direction: column;

                .titleMainNew {
                    width: 75%;
                    margin: 0 15px;
                    font-size: 2.5rem;
                }
                .containerDescriptionMainNew {
                    margin: 15px;
                    width: 100%;
                    .descriptonMainNew {
                        line-height: 1.5rem;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .moreNews {
            margin: 0 15px;
        }
        .rankingNews {
            display: flex;
            flex-direction: column;
            margin: 0 15px;
            .cardRankingNews {
                margin-bottom: 30px;

                img {
                width: 100px;
                height: 128px;
                }
            }
            
        }
    }
 
}

