// Colors

// Primary

$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);


.navbar {
    margin: 2rem auto;
    width: 1110px;

    .navContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            max-height: 40px;
        }

        .hamburguerMenu {
            display: none;
        }

        .navList {
            list-style-type: none;

            li {
                display: inline;
                margin-right: 40px;

                a {
                    text-decoration: none;
                    color: $Dark-grayish-blue;

                    &:hover {
                        color: $Soft-red;
                    }
                }
            }
            
        }
        .navList li:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        width: 100%;
        margin: 2rem 15px;
        .navContainer {
            .hamburguerMenu {
                display: flex;
                input {
                    display: none;
                }
                .lblMenu {
                    margin: 15px;
                    position: relative;

                    span {
                        position: absolute;
                        right: 15px;
                        width: 40px;
                        height: 3px;
                        background-color: black;
                        transition: all 400ms ease;
                    }
                    & > span:nth-child(2) {
                        top: 11px;
                    }
                    & > span:nth-child(3) {
                        top: 22px;
                    }

                }
                .buttonMenu:checked + .lblMenu {
                    & > span:nth-child(1) {
                        transform: rotate(45deg);
                        top: 10px;
                    }
                    & > span:nth-child(2) {
                        opacity: 0;
                    }
                    & > span:nth-child(3) {
                        transform: rotate(-45deg);
                        top: 10px;
                    }
                }
            }
            .navList {
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                right: 0;
                margin: 0;
                height: 100%;
                width: 50%;
                padding: 5rem 1rem;
            
                background-color: white;

                & > li {
                    margin-top: 10px;
                    & > a {
                        color: $Very-dark-blue;
                        font-weight: 500;
                    }
                    
                }
            }
        }
    }
}